body {
  font-family: "Lucida Console", "Courier New", monospace;
}
#ke {
  position: relative;
  top: 2%;
}
img {
  width: 80%;
}
p {
  margin-top: ;
}
#info span {
word-spacing: -10px;
}
#kk {
  background-color: ;
}
.box {
  width: 70%;
  height: 90%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
}
#belanja {
  display: block;
  background-color: #01bf01;
  width: 20%;
  height: 10%;
  box-shadow: 0.1px 0.1px 0.1px 0.1px black;
  color: white;
}
#halal {
  left: 0%;
  position: absolute;
  transform: rotate(270deg);
  color: white;
  background-color: #01bf01;
}
a {
  text-decoration: none;
  color: black;
}
#belanja p {
  display: table-cell;
  vertical-align: middle;
}
#belanja img{
  width: 40%;
}